<h1 align="center">Данные пользователя:</h1><br>
<h3>Логин: <%= @user.login%></h3>
<h3>E-mail: <%= @user.email%></h3>
<h3>ФИО: <%= @user.fio%></h3>
<h3>Дата рождения: <%= @user.dob%></h3>
<h3>Телефон: <%= @user.phone_num%></h3>
<br>

<h3>Баланс: <%= @user.balance%> рублей</h3>
</h3>

<%= link_to 'Пополнить баланс', user_add_money_path(@user), method: :post, class: 'btn btn-outline-primary'%> <br><br>
<%= link_to 'Редактировать профиль', edit_user_registration_path, class: 'btn btn-outline-primary' %>
<br>
<br>
<%= link_to 'Назад', root_path, class: 'btn btn-outline-secondary' %>

<p></p>
