<article class="fond">
  <section class="fond-head">
    <h2><%= link_to fond.title, fond_path(fond) %></h2>
    <small>
      <b>Created: </b><time><%= fond.created_at.strftime("%e/%m/%y %H:%M")%></time>
      |
      <b>Last update: </b><time><%= fond.updated_at.strftime("%e/%m/%y %H:%M")%></time>
      <% if user_signed_in? && current_user.admin?%>
      |
      <%= link_to 'Изменить', edit_admin_fond_path(fond) %>
      |
      <%= link_to 'Удалить', admin_fond_path(fond), method: :delete, data: {confirm: 'Really nigga?'} %>
      <% end %>
    </small>
  </section>

  <section class="fond-summary clearfix">
    <%= image_tag fond.image.url(:thumb), class: 'img-thumbnail thumb' if fond.image?%>
    <%= fond.summary %>
  </section>
</article>
