<article class="fond">
  <section class="fond-head">
    <h1><%= @fond.title %></h1>
    <small>
      <b>Created: </b><time><%= @fond.created_at.strftime("%e/%m/%y %H:%M")%></time>
      |
      <b>Last update: </b><time><%= @fond.updated_at.strftime("%e/%m/%y %H:%M")%></time>
      <% if user_signed_in? && current_user.admin?%>
      |
      <%= link_to 'Изменить', edit_admin_fond_path(@fond) %>
      |
      <%= link_to 'Удалить', admin_fond_path(@fond), method: :delete, data: {confirm: 'Really nigga?'} %>
      <% end %>
    </small>
  </section>

  <section class="fond-body">
    <%= image_tag @fond.image.url(:large), class: 'img-show' if @fond.image? %>
    <%= @fond.body %>
  </section>
</article>

<%= render 'disqus' %>

