<article class="fond">
  <section class="fond-head">
    <h1><%= @fond.title %></h1>
    <small>
      <time><%= @fond.created_at.to_date.strftime("%d %B, %Y")%></time>
      |
      <%= link_to 'Изменить', edit_fond_path(@fond) %>
      |
      <%= link_to 'Удалить', fond_path(@fond), method: :delete, data: {confirm: 'Really nigga?'} %>
    </small>
  </section>

  <section class="fond-body">
    <%= image_tag @fond.image.url(:large), class: 'img-show' if @fond.image? %>
    <%= @fond.body %>
  </section>
</article>
