<!DOCTYPE html>
<html>
  <head>
    <title>#ByClubbingTogether</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
      <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="<%= root_path %>">#ByClubbingTogether</a>


        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Создать фонд', new_admin_fond_path, class: 'btn btn-outline-primary' %>
                <%= link_to 'Редактировать профиль', edit_user_registration_path, class: 'btn btn-outline-primary' %>
                <%= link_to 'Выход', destroy_user_session_path, method: :delete, class: 'btn btn-info' %>
                </li>
            <% else %>
                <div class="btn-group" role="group">
                  <%= link_to 'Вход', new_user_session_path, class: 'btn btn-outline-info' %>
                  <%= link_to 'Регистрация', new_user_registration_path, class: 'btn btn-outline-info' %>
                </div>
            <% end %>
          </ul>

      </nav>
    </div>

    <div class="container main">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert <%= bootstrap_class_for(name)%>">
              <button class="close" data-dismiss="alert">&times;</button>
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>

  </body>
</html>