<!DOCTYPE html>
<html>
  <head>
    <title>TOFI</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <a class="navbar-brand" href="<%= fonds_path %>">#ByClubbingTogether</a>
      <%= link_to 'Создать фонд', new_fond_path, class: 'btn btn-outline-primary pull-xs-right' %>

    </nav>
  </div>

  <div class="container main">
    <%= yield %>
  </div>

  </body>
</html>
